asgiref
async-timeout
black
click
dj-database-url
Django
django-crispy-forms
django-defender
django-environ
environ
flake8
gunicorn
mccabe
mypy-extensions
packaging
pathspec
Pillow
platformdirs
psycopg2-binary
pycodestyle
pyflakes
pystache
redis
sqlparse
static
typing_extensions

