{%  extends 'products/base.html' %}
{% load crispy_forms_filters %}

{%  load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Connexion </h3>

            <hr>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.username|as_crispy_field}}

                <br>

                {{form.password|as_crispy_field}}

                <br>

                <button type="submit" class="btn btn-success w-100 btn-block p-2">
                    Se connecter &nbsp;
                    <i class="fa fa-key" aria-hidden="true"></i> </button>

            </form>

            <br>

            <div class="text-center">

                <p> Vous n'avez pas de compte ? </p> <a href="{% url '' %}"> Créer son compte </a>

            </div>

            <br>

        </div>

    </body>

{% endblock %}


