{% extends 'products/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Modifier un produit </h3>

            <h6> Vous pouvez modifier votre produit içi </h6>

            <hr>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.product_title|as_crispy_field}}

                <br>

                {{form.description|as_crispy_field}}

                <br>

                {{form.image|as_crispy_field}}

                <br>

                {{form.category|as_crispy_field}}

                <br>

                {{form.price|as_crispy_field}}

                <br>

                {{ form.sale_price|as_crispy_field }}

                <br>

                {{ form.start_date|as_crispy_field }}

                <br>

                {{ form.end_date|as_crispy_field }}

                <br>

                <button type="submit" class="btn btn-primary">

                    Modifier un produit &nbsp; <i class="fa fa-check" aria-hidden="true"></i>

                </button>

                &nbsp;

                <a href="{% url 'dashboard' %}" class="btn btn-secondary">


                    Annuler &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>

                </a>

            </form>

        </div>

        <br>

    </body>

{% endblock %}

