{% extends 'products/base.html' %}

{% block content %}

    <div class="card card-img-top">

        <div class="card-header card text-center">

            &nbsp;

            {{ product.product_title|upper }}

        </div>

        <div class="card-body">

            <p class="card-title"> <strong> Nom du produit </strong> {{ product.product_title }} </p>
            <p class="card-text"> <strong> Description </strong> {{ product.description }} </p>
            <p class="card-text"> <strong> Prix </strong> {{ product.price }} </p>
            <p> <strong> Photo </strong> <img class="card-img" alt="image" src = "/media/{{ p.image }}" width = "50" height = "50">  </p>
            <p class="card-text"> <strong> Catégorie </strong> {{ product.category }} </p>
            <p class="card-text"> <strong> Date d'ajout </strong> {{ product.creation_date }} </p>

        </div>


    </div>

    <br>

        <a href="{% url 'dashboard' %}" class="btn btn-success">
            Annuler  &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"> </i>
        </a>

        &nbsp;

        <a href="{% url 'update-product' product.id %}" class="btn btn-info">
            Modifier  &nbsp; <i class="fa fa-plus" aria-hidden="true"> </i>
        </a>

        &nbsp;

        <a href="{% url 'delete-product' product.id %}" class="btn btn-danger">
            Supprimer &nbsp;<i class="fa fa-minus-square" aria-hidden="true"> </i>
        </a>



{% endblock %}